<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Registro Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="registroForm">
    <ion-item lines="full">
      <ion-label position="floating">Username:</ion-label>
      <ion-input type="text" placeholder="Cachupin.." formControlName="username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Asignatura:</ion-label>
      <ion-select formControlName="rol">
        <ion-select-option value="Academico">Programación</ion-select-option>
        <ion-select-option value="Servicios">Base de datos</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="registrarUsuario()" expand="full" color="success" shape="round">
      Crear Usuario
    </ion-button>
  </form>
</ion-content>